@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Brewery Finder</h1>
    <p>Click <a href="Home/ViewBrewery">here</a> to find the breweries near you.</p>
</div>
