@using FinalBreweryAPI.Models
@model Items

@*<div class="text-center">
    <h1 class="display-4">Welcome to the Brewery Finder</h1>

</div>*@
@if (@Model != null)
{
    <h1>@Model.Name</h1>
    <h2>@Model.WebsiteURL</h2>
    <h2>@Model.Street</h2>
    <h2>@Model.Phone</h2>
    
}
